faiss-cpu==1.13.2
langchain==1.2.15
langchain-community==0.4.1
langchain-google-genai==4.2.2
python-dotenv==1.2.2
streamlit==1.57.0
youtube-transcript-api==1.2.4
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.25.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl
